<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="assets/stars.png" />
  <span>
    <a style="color: white;" href="#">
      Pacific Disaster Net | Pacific Damage Loss Assessment
    </a>
  </span>
  <div class="spacer"></div>

  <img src="assets/undp.png" style="height: 68px;" />


</div>





<div class="content" role="main">



<a routerLink="/main">
  <img src="assets/pdn_banner.png" style="height: 90px;" />
</a>
  <br />

  <router-outlet></router-outlet>

  <br/>


 







<footer style="width: 100%;">
  <!-- Terminal -->
  <div class="terminal" style="width: 100%;">
    <p style="text-align: center; color: white; font-size: 80%; padding: 10px; width: 100%;">
      &copy; 2020 Pacific Community (SPC), Disaster Resilience for Pacific Small Island Developing States (RESPAC)
      Project, United Nations Development Programme (UNDP)
      <br /><br />
    </p>
  </div>
</footer>



</div>
