<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="assets/stars.png" />
  <span>
    <a style="color: white;" href="#">
      Pacific Disaster Net | Pacific Damage Loss Assessment
    </a>
  </span>
  <div class="spacer"></div>

  <img src="assets/undp.png" style="height: 68px;" />


</div>





<div class="content" role="main">




  <img src="assets/pdn_banner.png" style="height: 90px;" />
  <br />

  <router-outlet></router-outlet>

  <br/>


  <!-- Highlight Card -->
  <div style="text-align: justify;" class="card highlight-card ">

    <b>PDN</b> is an online platform for Disaster Risk Management and Climate Change documents, reports, alerts, data,
    projects
    and professionals for the Pacific region.
    The platform is an ongoing live service provided by Pacific Community (SPC), United Nations Development Programme
    (UNDP), UN Office of Disaster Risk Reduction (UNDRR) and IFRC.
  </div>





  <span>
    <mat-form-field class="example-form-field" style="width: 340px;">
      <!-- <mat-label>Search across PDN...</mat-label> -->
      <input matInput type="text" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>

    </mat-form-field>
    <span style="color:white;">...</span>
    <button mat-raised-button color="primary">Search</button>
  </span>










  <!-- Resources -->
  <h2>Resources</h2>

  <br />



  <span *ngIf="documentCount">
    <a mat-flat-button color="primary" style="color: white;" matBadgeColor="accent" matBadge="40" routerLink=".">
      <mat-icon>book</mat-icon>
      <span style="font-size: xx-small;">{{documentCount[0].count}}</span> | <b> Documents</b>
    </a>
    <span style="color:white;">.......</span>
    <a mat-flat-button color="accent" style="color: white;" matBadgeColor="primary" matBadge="8" routerLink="pdalo">
      <mat-icon>error_outline</mat-icon>
      <span style="font-size: xx-small;">{{disasterCount[0].count}}</span> | <b> Disasters</b>
    </a>
    <span style="color:white;">.........</span>
    <a mat-flat-button color="warn" style="color: white;" matBadgeColor="primary" matBadge="5" routerLink=".">
      <mat-icon>people</mat-icon>
      <span style="font-size: xx-small;">{{expertCount[0].count}}</span> | <b> Experts</b>
    </a>
    <span style="color:white;">.........</span>
    <a mat-flat-button color="primary" style="color: white;" matBadgeColor="accent" matBadge="3" routerLink=".">
      <mat-icon>event_avialable</mat-icon>
      <span style="font-size: xx-small;">{{calendarCount[0].count}}</span> | <b> Calendar</b>
    </a>
    <span style="color:white;">.........</span>
    <a mat-flat-button color="accent" style="color: white;" matBadgeColor="primary" matBadge="2" routerLink="projects">
      <mat-icon>more_vert</mat-icon>
      Projects
    </a>
    <span style="color:white;">........</span>
    <a mat-flat-button color="warn" style="color: white;" routerLink=".">
      <mat-icon>comment</mat-icon>
      News
    </a>



  </span>

  <mat-divider></mat-divider>

  <div class="card-container">

    <div class="card">
      <h3>
        <mat-icon>book</mat-icon>
        Featured Documents
      </h3>

      <a *ngFor="let d of featuredDocuments">
        {{d.title}}
        <br /><br />
      </a>
    </div>

    <div class="card">
      <h3>
        <mat-icon>toc</mat-icon>
        Latest Documents
      </h3>
      <a *ngFor="let d of latestDocuments">
        {{d.title}}
        <br /><br />
      </a>
    </div>

    <div class="card">
      <h3>
        <mat-icon>track_changes</mat-icon>
        Current Alerts
      </h3>
      <a *ngFor="let a of alerts"
        href="https://www.gdacs.org/report.aspx?eventtype={{a.gdacs_eventtype}}&eventid={{a.gdacs_eventid}}">
        {{a.title}}
        <br /><br />
      </a>
    </div>

    <div class="card">
      <h3>
        <mat-icon>event</mat-icon>
        Upcoming Events
      </h3>
      <a>Test</a>
    </div>

    <div class="card">
      <h3>
        <mat-icon>book</mat-icon>
        Latest Disasters
      </h3>
      <a>Test</a>
    </div>

    <div class="card">
      <h3>
        <mat-icon>date_range</mat-icon>
        Latest News
      </h3>
      <a>Test</a>
    </div>

  </div>









  <!-- Footer -->
  <footer>

    <!-- Terminal -->
    <div class="terminal">
      <p style="text-align: center; color: white; font-size: 80%; padding: 10px;">
        &copy; 2020 Pacific Community (SPC), Disaster Resilience for Pacific Small Island Developing States (RESPAC)
        Project, United Nations Development Programme (UNDP)
        <br /><br />
      </p>
    </div>


  </footer>



</div>