<div align="center" *ngFor="let d of disaster">
    
    <h3>{{d.Description_Of_Cause}} - {{d.Date}} - {{d.Country}}</h3>

    <hr/>

    <table>
        <tr>
            <td style="width: 280px;">Id</td>
            <td>{{d.Id}}</td>
        </tr>

        <tr>
            <td>Date</td>
            <td>{{d.Date}}</td>
        </tr>

        <tr>
            <td>Serial</td>
            <td>{{d.Serial}}</td>
        </tr>

        <tr>
            <td>Event</td>
            <td>{{d.Event}}</td>
        </tr>

        <tr>
            <td>Description_Of_Cause</td>
            <td>{{d.Description_Of_Cause}}</td>
        </tr>

        <tr>
            <td>Country_Code</td>
            <td>{{d.Country_Code}}</td>
        </tr>

        <tr>
            <td>Country</td>
            <td>{{d.Country}}</td>
        </tr>

        <tr>
            <td>Code_Level_1</td>
            <td>{{d.Code_Level_1}}</td>
        </tr>

        <tr>
            <td>Level_1</td>
            <td>{{d.Level_1}}</td>
        </tr>

        <tr>
            <td>Code_Level_2</td>
            <td>{{d.Code_Level_2}}</td>
        </tr>

        <tr>
            <td>Level_2</td>
            <td>{{d.Level_2}}</td>
        </tr>

        <tr>
            <td>Location</td>
            <td>{{d.Location}}</td>
        </tr>

        <tr>
            <td>Comments</td>
            <td>{{d.Comments}}</td>
        </tr>

        <tr>
            <td>Cause</td>
            <td>{{d.Cause}}</td>
        </tr>

        <tr>
            <td>Source</td>
            <td>{{d.Source}}</td>
        </tr>

        <tr>
            <td>Magnitude</td>
            <td>{{d.Magnitude}}</td>
        </tr>

        <tr>
            <td>GLIDE Number</td>
            <td>{{d.GLIDE_Number}}</td>
        </tr>

        <tr>
            <td>Other Sectors</td>
            <td>{{d.Other_Sectors}}</td>
        </tr>

        <tr>
            <td>DataCards</td>
            <td>{{d.DataCards}}</td>
        </tr>

        <tr>
            <td>Deaths</td>
            <td>{{d.Deaths}}</td>
        </tr>

        <tr>
            <td>Injured</td>
            <td>{{d.Injured}}</td>
        </tr>

        <tr>
            <td>Missing</td>
            <td>{{d.Missing}}</td>
        </tr>

        <tr>
            <td>Houses Destroyed</td>
            <td>{{d.Houses_Destroyed}}</td>
        </tr>

        <tr>
            <td>Houses Damaged</td>
            <td>{{d.Houses_Damaged}}</td>
        </tr>

        <tr>
            <td>Directly Affected</td>
            <td>{{d.Directly_Affected}}</td>
        </tr>

        <tr>
            <td>Indirectly_Affected</td>
            <td>{{d.Indirectly_Affected}}</td>
        </tr>

        <tr>
            <td>Relocated</td>
            <td>{{d.Relocated}}</td>
        </tr>

        <tr>
            <td>Evacuated</td>
            <td>{{d.Evacuated}}</td>
        </tr>

        <tr>
            <td>Losses_USD</td>
            <td>{{d.Losses_USD}}</td>
        </tr>

        <tr>
            <td>Losses_Local</td>
            <td>{{d.Losses_Local}}</td>
        </tr>

        <tr>
            <td>Education</td>
            <td>{{d.Education}}</td>
        </tr>

        <tr>
            <td>Hospitals</td>
            <td>{{d.Hospitals}}</td>
        </tr>

        <tr>
            <td>Damages_Crops_Ha</td>
            <td>{{d.Damages_Crops_Ha}}</td>
        </tr>

        <tr>
            <td>Health_Sector</td>
            <td>{{d.Health_Sector}}</td>
        </tr>

        <tr>
            <td>Agriculture</td>
            <td>{{d.Agriculture}}</td>
        </tr>

        <tr>
            <td>Water Supply Sanitation</td>
            <td>{{d.Water_Supply_Sanitation}}</td>
        </tr>

        <tr>
            <td>Sewerage</td>
            <td>{{d.Sewerage}}</td>
        </tr>

        <tr>
            <td>Industries</td>
            <td>{{d.Industries}}</td>
        </tr>

        <tr>
            <td>Communications</td>
            <td>{{d.Communications}}</td>
        </tr>

        <tr>
            <td>Transportation</td>
            <td>{{d.Transportation}}</td>
        </tr>

        <tr>
            <td>Power/Energy</td>
            <td>{{d.Power_Energy}}</td>
        </tr>

        <tr>
            <td>Year</td>
            <td>{{d.Year}}</td>
        </tr>


    </table>



</div>