<div align="center" *ngFor="let d of disaster">
    
    <h3>{{d.description_of_cause}} - {{d.date}} - {{d.country}}</h3>

    <hr/>

    <table>
        <tr *ngIf="d.id">
            <td style="width: 280px;">Id</td>
            <td>{{d.id}}</td>
        </tr>

        <tr *ngIf="d.date">
            <td>Date</td>
            <td>{{d.date}}</td>
        </tr>

        <tr *ngIf="d.serial">
            <td>Serial</td>
            <td>{{d.serial}}</td>
        </tr>

        <tr *ngIf="d.event">
            <td>Event</td>
            <td>{{d.event}}</td>
        </tr>

        <tr *ngIf="d.description_of_cause">
            <td>Description_Of_Cause</td>
            <td>{{d.description_of_cause}}</td>
        </tr>

        <tr *ngIf="d.country_code">
            <td>Country_Code</td>
            <td>{{d.country_code}}</td>
        </tr>

        <tr *ngIf="d.country">
            <td>Country</td>
            <td>{{d.country}}</td>
        </tr>

        <tr *ngIf="d.code_level_1">
            <td>Code_Level_1</td>
            <td>{{d.code_level_1}}</td>
        </tr>

        <tr *ngIf="d.level_1">
            <td>Level_1</td>
            <td>{{d.level_1}}</td>
        </tr>

        <tr *ngIf="d.code_level_2">
            <td>Code_Level_2</td>
            <td>{{d.code_level_2}}</td>
        </tr>

        <tr *ngIf="d.level_2">
            <td>Level_2</td>
            <td>{{d.level_2}}</td>
        </tr>

        <tr *ngIf="d.location">
            <td>Location</td>
            <td>{{d.location}}</td>
        </tr>

        <tr *ngIf="d.comments">
            <td>Comments</td>
            <td>{{d.comments}}</td>
        </tr>

        <tr *ngIf="d.cause">
            <td>Cause</td>
            <td>{{d.cause}}</td>
        </tr>

        <tr *ngIf="d.source">
            <td>Source</td>
            <td>{{d.source}}</td>
        </tr>

        <tr *ngIf="d.magnitude">
            <td>Magnitude</td>
            <td>{{d.magnitude}}</td>
        </tr>

        <tr *ngIf="d.glideumber">
            <td>GLIDE Number</td>
            <td>{{d.glideumber}}</td>
        </tr>

        <tr *ngIf="d.other_sectors">
            <td>Other Sectors</td>
            <td>{{d.other_sectors}}</td>
        </tr>

        <tr *ngIf="d.datacards">
            <td>DataCards</td>
            <td>{{d.datacards}}</td>
        </tr>

        <tr *ngIf="d.deaths">
            <td>Deaths</td>
            <td>{{d.deaths}}</td>
        </tr>

        <tr *ngIf="d.injured">
            <td>Injured</td>
            <td>{{d.injured}}</td>
        </tr>

        <tr *ngIf="d.missing">
            <td>Missing</td>
            <td>{{d.missing}}</td>
        </tr>

        <tr *ngIf="d.houses_destroyed">
            <td>Houses Destroyed</td>
            <td>{{d.houses_destroyed}}</td>
        </tr>

        <tr *ngIf="d.houses_damaged">
            <td>Houses Damaged</td>
            <td>{{d.houses_damaged}}</td>
        </tr>

        <tr *ngIf="d.directly_affected">
            <td>Directly Affected</td>
            <td>{{d.directly_affected}}</td>
        </tr>

        <tr *ngIf="d.indirectly_affected">
            <td>Indirectly_Affected</td>
            <td>{{d.indirectly_affected}}</td>
        </tr>

        <tr *ngIf="d.relocated">
            <td>Relocated</td>
            <td>{{d.relocated}}</td>
        </tr>

        <tr *ngIf="d.evacuated">
            <td>Evacuated</td>
            <td>{{d.evacuated}}</td>
        </tr>

        <tr *ngIf="d.losses_usd">
            <td>Losses_USD</td>
            <td>{{d.losses_usd}}</td>
        </tr>

        <tr *ngIf="d.losses_local">
            <td>Losses_Local</td>
            <td>{{d.losses_local}}</td>
        </tr>

        <tr *ngIf="d.education">
            <td>Education</td>
            <td>{{d.education}}</td>
        </tr>

        <tr *ngIf="d.hospitals">
            <td>Hospitals</td>
            <td>{{d.hospitals}}</td>
        </tr>

        <tr *ngIf="d.damages_crops_ha">
            <td>Damages_Crops_Ha</td>
            <td>{{d.damages_crops_ha}}</td>
        </tr>

        <tr *ngIf="d.health_sector">
            <td>Health_Sector</td>
            <td>{{d.health_sector}}</td>
        </tr>

        <tr *ngIf="d.agriculture">
            <td>Agriculture</td>
            <td>{{d.agriculture}}</td>
        </tr>

        <tr *ngIf="d.water_supply_sanitation">
            <td>Water Supply Sanitation</td>
            <td>{{d.water_supply_sanitation}}</td>
        </tr>

        <tr *ngIf="d.sewerage">
            <td>Sewerage</td>
            <td>{{d.sewerage}}</td>
        </tr>

        <tr *ngIf="d.industries">
            <td>Industries</td>
            <td>{{d.industries}}</td>
        </tr>

        <tr *ngIf="d.communications">
            <td>Communications</td>
            <td>{{d.communications}}</td>
        </tr>

        <tr *ngIf="d.transportation">
            <td>Transportation</td>
            <td>{{d.transportation}}</td>
        </tr>

        <tr *ngIf="d.power_energy">
            <td>Power/Energy</td>
            <td>{{d.power_energy}}</td>
        </tr>

        <tr *ngIf="d.year">
            <td>Year</td>
            <td>{{d.year}}</td>
        </tr>


    </table>



</div>