<div align="center">
    <a href="{{link}}" style="text-decoration: none; color: gray;">Searching for <i>{{query}}</i> ...</a>
    <br />
    <span *ngIf="docs">
        <b>{{docs.length}}</b> Results Returned
    </span>
    <hr />
</div>



<div *ngFor="let d of docs">
    <a routerLink="/document/{{d.id}}">
        {{d.title}}
    </a>
    <br/> 
    <span *ngIf="d.relatednames">{{d.relatednames}} | </span>
    <span *ngIf="d.corporateauthor">{{d.corporateauthor}} |</span>
    <span *ngIf="d.geographicalareacode">{{d.geographicalareacode}} |</span>

    {{d.publicationyear}}

    <br /><br />
</div>